Три сетки: 
- h = 0.05 (1109 точек);
- h = 0.025 (4390 точек);
- h = 0.0125 (17470 точек);

Грубая сетка для двухуровневого аддитивного метода: h = 1 (8 точек). Критерий сходимости $\varepsilon = 10^{-5}$.

In [101]:
import pandas as pd

# Базовая задача без МДО:

In [102]:
df_errors = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors/basic_method.csv')
df_errors_rel = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_rel/basic_method.csv')

Таблица ошибок численного решения:

In [103]:
df_errors.applymap(lambda x: f'{x:.2e}')

        u_r   sigma_r sigma_phi
0  1.46e-04  2.87e-02  1.11e-02
1  3.49e-05  1.39e-02  5.48e-03
2  8.41e-06  6.66e-03  2.67e-03

Таблица отношений ошибок численных решений:

In [104]:
df_errors_rel

   u_r  sigma_r  sigma_phi
0    1        1          1
1    4        2          2
2   17        4          4

# Мультипликативный метод Шварца:

In [105]:
df_errors = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors/schwarz_multiplicative.csv')
df_errors_rel = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_rel/schwarz_multiplicative.csv')
df_iters = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/iterations/schwarz_multiplicative.csv')
df_error_special = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_special/schwarz_multiplicative.csv')

Таблица ошибок численного решения:

In [106]:
df_errors.applymap(lambda x: f'{x:.2e}')

        u_r   sigma_r sigma_phi
0  1.47e-04  2.87e-02  1.11e-02
1  3.53e-05  1.39e-02  5.48e-03
2  9.56e-06  6.66e-03  2.67e-03

Таблица отношений ошибок численных решений:

In [107]:
df_errors_rel

   u_r  sigma_r  sigma_phi
0    1        1          1
1    4        2          2
2   15        4          4

Таблица количества итераций в зависимости от количества подобластей и шага сетки:

In [108]:
df_iters

   h=5.00e-02  h=2.50e-02  h=1.25e-02
0          39          38          38
1         154         152         149
2         468         448         450

Ошибки численного решения (8 подобластей, шаг 0.025, eps = [1e-2, 1e-6]):

In [109]:
df_error_special[['Ошибка численного решения для sigma_r', 'Ошибка численного решения для sigma_phi']] = df_error_special[['Ошибка численного решения для sigma_r', 'Ошибка численного решения для sigma_phi']].applymap(lambda x: '{:.2e}'.format(x))
df_error_special

,Количество итераций,Ошибка численного решения для sigma_r,Ошибка численного решения для sigma_phi
0,26,1.56e-02,6.87e-02
1,52,1.42e-02,1.25e-02
2,184,1.40e-02,6.15e-03
3,448,1.39e-02,5.49e-03
4,711,1.39e-02,5.48e-03

# Аддитивный метод Шварца:

In [110]:
df_errors = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors/schwarz_additive.csv')
df_errors_rel = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_rel/schwarz_additive.csv')
df_iters = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/iterations/schwarz_additive.csv')
df_error_special = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_special/schwarz_additive.csv')

Таблица ошибок численного решения:

In [111]:
df_errors.applymap(lambda x: f'{x:.2e}')

        u_r   sigma_r sigma_phi
0  1.50e-04  2.87e-02  1.11e-02
1  4.00e-05  1.39e-02  5.48e-03
2  2.30e-05  6.66e-03  2.67e-03

Таблица отношений ошибок численных решений:

In [112]:
df_errors_rel

   u_r  sigma_r  sigma_phi
0    1        1          1
1    4        2          2
2    6        4          4

Таблица количества итераций в зависимости от количества подобластей и шага сетки:

In [113]:
df_iters

   h=5.00e-02  h=2.50e-02  h=1.25e-02
0          34          61          44
1         211         102          99
2         374         353         338

Ошибки численного решения (8 подобластей, шаг 0.025, eps = [1e-2, 1e-6]):

In [114]:
df_error_special[['Ошибка численного решения для sigma_r', 'Ошибка численного решения для sigma_phi']] = df_error_special[['Ошибка численного решения для sigma_r', 'Ошибка численного решения для sigma_phi']].applymap(lambda x: '{:.2e}'.format(x))
df_error_special

,Количество итераций,Ошибка численного решения для sigma_r,Ошибка численного решения для sigma_phi
0,51,2.16e-02,2.14e-01
1,140,1.36e-02,3.08e-02
2,243,1.39e-02,6.38e-03
3,353,1.39e-02,5.51e-03
4,1003,1.39e-02,5.48e-03

# Двухуровневый аддитивный метод Шварца:

In [115]:
df_errors = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors/schwarz_additive_two_level.csv')
df_errors_rel = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_rel/schwarz_additive_two_level.csv')
df_iters = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/iterations/schwarz_additive_two_level.csv')
df_error_special = pd.read_csv('..//results/thick_walled_cylinder/outer_pressure_only/errors_special/schwarz_additive_two_level.csv')

Таблица ошибок численного решения:

In [116]:
df_errors.applymap(lambda x: f'{x:.2e}')

        u_r   sigma_r sigma_phi
0  1.47e-04  2.87e-02  1.11e-02
1  3.58e-05  1.39e-02  5.48e-03
2  1.04e-05  6.66e-03  2.67e-03

Таблица отношений ошибок численных решений:

In [117]:
df_errors_rel

   u_r  sigma_r  sigma_phi
0    1        1          1
1    4        2          2
2   14        4          4

Таблица количества итераций в зависимости от количества подобластей и шага сетки:

In [118]:
df_iters

   h=5.00e-02  h=2.50e-02  h=1.25e-02
0          40          40          40
1          62          62          62
2          92          92          91

Ошибки численного решения (8 подобластей, шаг 0.025, eps = [1e-2, 1e-6]):

In [119]:
df_error_special[['Ошибка численного решения для sigma_r', 'Ошибка численного решения для sigma_phi']] = df_error_special[['Ошибка численного решения для sigma_r', 'Ошибка численного решения для sigma_phi']].applymap(lambda x: '{:.2e}'.format(x))
df_error_special

,Количество итераций,Ошибка численного решения для sigma_r,Ошибка численного решения для sigma_phi
0,11,2.76e-02,4.21e-02
1,32,1.40e-02,7.06e-03
2,61,1.39e-02,5.50e-03
3,92,1.39e-02,5.48e-03
4,124,1.39e-02,5.48e-03