# Предоставленные задачи:

- закрепление с трёх сторон;
- закрепление с двух сторон;
<div>
<img src="img/tasks_Rodin.jpg" width="250"/>
</div>

Три сетки: 
- h = 4e-4 (743 точек);
- h = 2e-4 (2883 точек);
- h = 1e-4 (11561 точек);

Грубая сетка для двухуровневого аддитивного метода: h = 1.5e-3 (49 точек). Критерий сходимости $\varepsilon = 10^{-5}$.

In [1]:
import pandas as pd

## Первая задача:

### Мультипликативный метод Шварца:

In [27]:
df_iters = pd.read_csv('..//results/area_01/task_01/iterations/multiplicative.csv')
df_sigma = pd.read_csv('..//results/area_01/task_01/sigma/multiplicative.csv')
df_time = pd.read_csv('..//results/area_01/task_01/time/multiplicative.csv')

Таблица количества итераций:

In [28]:
df_iters.style

Таблица разницы для осевого напряжения:

In [29]:
df_sigma.style

Временные затраты:

In [30]:
df_time.style

### Аддитивный метод Шварца:

In [31]:
df_iters = pd.read_csv('..//results/area_01/task_01/iterations/additive.csv')
df_sigma = pd.read_csv('..//results/area_01/task_01/sigma/additive.csv')
df_time = pd.read_csv('..//results/area_01/task_01/time/additive.csv')

Таблица количества итераций:

In [32]:
df_iters.style

Таблица разницы для осевого напряжения:

In [33]:
df_sigma.style

Временные затраты:

In [34]:
df_time.style

### Двухуровневый аддитивный метод Шварца:

In [35]:
df_iters = pd.read_csv('..//results/area_01/task_01/iterations/two_level_additive.csv')
df_sigma = pd.read_csv('..//results/area_01/task_01/sigma/two_level_additive.csv')
df_time = pd.read_csv('..//results/area_01/task_01/time/two_level_additive.csv')

Таблица количества итераций:

In [36]:
df_iters.style

Таблица разницы для осевого напряжения:

In [37]:
df_sigma.style

Временные затраты:

In [38]:
df_time.style

## Вторая задача:

### Мультипликативный метод Шварца:

In [39]:
df_iters = pd.read_csv('..//results/area_01/task_02/iterations/multiplicative.csv')
df_sigma = pd.read_csv('..//results/area_01/task_02/sigma/multiplicative.csv')
df_time = pd.read_csv('..//results/area_01/task_02/time/multiplicative.csv')

Таблица количества итераций:

In [40]:
df_iters.style

Таблица разницы для осевого напряжения:

In [41]:
df_sigma.style

Временные затраты:

In [42]:
df_time.style

### Аддитивный метод Шварца:

In [43]:
df_iters = pd.read_csv('..//results/area_01/task_02/iterations/additive.csv')
df_sigma = pd.read_csv('..//results/area_01/task_02/sigma/additive.csv')
df_time = pd.read_csv('..//results/area_01/task_02/time/additive.csv')

Таблица количества итераций:

In [44]:
df_iters.style

Таблица разницы для осевого напряжения:

In [45]:
df_sigma.style

Временные затраты:

In [46]:
df_time.style

### Двухуровневый аддитивный метод Шварца:

In [47]:
df_iters = pd.read_csv('..//results/area_01/task_02/iterations/two_level_additive.csv')
df_sigma = pd.read_csv('..//results/area_01/task_02/sigma/two_level_additive.csv')
df_time = pd.read_csv('..//results/area_01/task_02/time/two_level_additive.csv')

Таблица количества итераций:

In [48]:
df_iters.style

Таблица разницы для осевого напряжения:

In [49]:
df_sigma.style

Временные затраты:

In [50]:
df_time.style